* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

/***** hero *****/

.bg-hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2.625rem;
    position: relative;
}

.text-28 {
    font-size: 1.75rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 2rem;
}

.text-20 {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.nav {
    display: flex;
    gap: 1.875rem;
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.text-24 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: #FFFFFF;
}

.nav-social {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.813rem;
    padding: 286px 290px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.063rem;
}

.main-title {
    font-size: 3.375rem;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.marker {
    position: relative;
    z-index: 0;
}

.marker::before {
    position: absolute;
    content: '';
    width: 334px;
    height: 28px;
    background-image: url(../images/marker.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.text-32 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    line-height: 2.125rem;
}

.btn {
    background-color: #028164;
    border-radius: 8px;
    padding: 1.125rem 2.5rem;
    display: flex;
    gap: 1.25rem;
    align-items: baseline;
    cursor: pointer;
}

.btn .btn-text {
    font-weight: 300;
}

.btn img {
    width: 30px;
}



.info {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 2.625rem;
    gap: 3.75rem;
}

.info-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text-42 {
    color: #202020;
    text-transform: uppercase;
    font-size: 2.625rem;
    font-weight: 500;
    line-height: 2.875rem;
    text-align: center;
}

.info-card {
    background-color: #EFEFEF;
    border-radius: 12px;
    width: 20%;
    padding: 1.5rem 1.75rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.info-card_title {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}

.info-card_text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.01em;
    color: #000000;
}





.about {
    display: flex;
    background-color: #EFEFEF;
    padding: 6.25rem 2.625rem;
    gap: 2.375rem;
}

.about-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.375rem;
}

.about-img {
    width: 660px;
}

.align-left {
    text-align: left;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-left: 3px solid #028164;
    padding-left: 0.625rem;
}

.vertical-line {
    border-left: 3px #028164 solid;
    width: 3px;
}

.green-text {
    color: #028164;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    line-height: 90%;
}

.about-info_text {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.188rem;
    letter-spacing: 0.01em;
}




.projects {
    padding: 6.25rem 2.625rem;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    align-items: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project-card {
    display: flex;
    gap: 2.25rem;
    justify-content: space-between;
}

.project-card-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 32%;
}

.project-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.project-card-title {
    color: #028164;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.01em;
}

.project-card-text {
    color: #202020;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.weight-500 {
    font-weight: 500;
}

.project-card-container:nth-child(even) {
    background-color: #EFEFEF;
    border-radius: 8px;
}

.project-container-content {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.project-card-padding {
    padding-bottom: 5rem;
}

.btn-white {
    border: #028164 2px solid;
    background-color: #FFFFFF;
}

.text-24-green {
    color: #028164;
}

.swipers-container {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    font-size: 0;
    max-width: 892px;
}

.swiper-thumbs .swiper-slide {
    width: calc(20% - 13px) !important;
    opacity: 0.4;
}

.swiper-slide-thumb-active {
    opacity: 1 !important;
}

.swiper-slide img {
    width: 100%;
    border-radius: 14px;

}






.green-bg {
    background-color: #028164;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6.25rem 2.625rem;
    gap: 3.75rem;
    background-repeat: no-repeat;
    background-position: bottom;
}

.text-white {
    color: #FFFFFF;
}

.about-us-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.463rem;
    letter-spacing: 0.01em;
    text-align: center;
    width: 63%;
}

.about-us-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
    justify-content: space-between;
}

.about-us-card {
    width: 31%;
    border: #FFFFFF80 2px solid;
    background-color: inherit;
}





.contacts {
    display: flex;
    align-items: center;
    padding: 6.25rem 2.625rem;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 2.375rem;
}

input[type="text"],
input[type="number"] {
    background-color: #EFEFEF;
    border: 0 solid #EFEFEF;
    padding: 0.625rem;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}

.btn-form {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    background-color: #028164;
    border: #028164 0 solid;
    border-radius: 8px;
    padding: 0.875rem 4rem;
}

.check {
    font-size: 0.625rem;
    font-weight: 300;
}

span.check {
    text-decoration: underline;
}

.check-container {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}






/******* СТРАНИЦА КОНТАКТЫ ********/

.text-black {
    color: #000000;
}

.bg-grey {
    background-color: #EFEFEF;
}

.map img {
    width: 100%;
}

input[type="text"] .bg-white,
input[type="number"] .bg-white {
    background-color: #FFFFFF;
}